@import "_variables.scss";

.clickme {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  display: inline-block;
  padding: 2rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  background-color: color(blue);
  box-shadow: inset 0 -1rem 0 -0.3rem rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.clickme:before {
  content: "";
  display: block;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%
  );
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 1s;
}

.clickme:hover:before {
  background-position: left bottom;
}
