html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fce5cd;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fce5cd;
}

.swap {
  margin: auto;
  width: auto;
}

.box-1 {
  background-color: peachpuff;
  height: 55rem;
  width: 75rem;
  margin: 8rem;
  border-radius: 2rem;
  opacity: 0.85;
  padding: 5rem;
}

.swap img {
  width: 60rem;
  height: 40rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.swap img.top:hover {
  opacity: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fce5cd;
}

.clickme {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  display: inline-block;
  padding: 2rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  background-color: darkslateblue;
  -webkit-box-shadow: inset 0 -1rem 0 -0.3rem rgba(0, 0, 0, 0.17);
          box-shadow: inset 0 -1rem 0 -0.3rem rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.clickme:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15)));
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.clickme:hover:before {
  background-position: left bottom;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fce5cd;
}

.monkey {
  font-family: "Work Sans", sans-serif;
  margin: 2rem;
  border: 0;
  background: none;
  color: darkslateblue;
  position: relative;
  padding: 10rem 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.monkey::before,
.monkey::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: absolute;
  content: "";
  border: 0.75rem solid transparent;
  width: 0;
  height: 0;
}

.monkey::after {
  bottom: 0;
  right: 0;
}

.monkey::before {
  top: 0;
  left: 0;
}

.monkey:hover {
  font-size: 5rem;
}

.monkey:hover::before,
.monkey:hover::after {
  width: 100%;
  height: 100%;
}

.monkey:hover::before {
  border-top-color: darkslateblue;
  border-right-color: darkslateblue;
  -webkit-transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

.monkey:hover::after {
  border-bottom-color: darkslateblue;
  border-left-color: darkslateblue;
  -webkit-transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fce5cd;
}

.mapbox {
  border: 2rem solid darkslateblue;
  overflow: hidden;
}

.map {
  height: 40rem;
  -webkit-transform-origin: 40% 47%;
          transform-origin: 40% 47%;
  -webkit-transition: -webkit-transform 2s, -webkit-filter 0.5s ease-out;
  transition: -webkit-transform 2s, -webkit-filter 0.5s ease-out;
  transition: transform 2s, filter 0.5s ease-out;
  transition: transform 2s, filter 0.5s ease-out, -webkit-transform 2s, -webkit-filter 0.5s ease-out;
}

.map:hover {
  -webkit-transform: scale(4);
          transform: scale(4);
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fce5cd;
}

.quake {
  font-family: "Work Sans", sans-serif;
  color: #e07b39;
}

.quakemode {
  display: none;
}

.quakecontainer {
  padding: 5rem;
}

@-webkit-keyframes earthquake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
    opacity: 100%;
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
    opacity: 75%;
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
    opacity: 50%;
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
    opacity: 25%;
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
    opacity: 0%;
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
    opacity: 25%;
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
    opacity: 50%;
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
    opacity: 75%;
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
    opacity: 100%;
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes earthquake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
    opacity: 100%;
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
    opacity: 75%;
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
    opacity: 50%;
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
    opacity: 25%;
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
    opacity: 0%;
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
    opacity: 25%;
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
    opacity: 50%;
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
    opacity: 75%;
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
    opacity: 100%;
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.quakecontainer:hover {
  -webkit-animation: earthquake 1s ease;
          animation: earthquake 1s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.quakecontainer:hover .quakemode {
  display: inline;
}

.quakecontainer:hover .normal {
  display: none;
}

header {
  margin: 10rem;
  margin-bottom: 0;
}

.title {
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  color: darkslateblue;
  text-align: center;
  margin: 0;
}

.subheading {
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  color: #e07b39;
  text-align: center;
  margin: 2rem;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.box {
  background-color: peachpuff;
  height: auto;
  margin: 4rem;
  border-radius: 2rem;
  opacity: 0.85;
  padding: 5rem;
}

.heading {
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  color: #80391e;
  text-align: center;
  margin: 2rem;
  margin-bottom: 5rem;
}
/*# sourceMappingURL=style.css.map */